# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

dist

# dependencies
node_modules

# testing
/coverage
packages/**/coverage

# production
packages/**/dist*

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*